/*
 * ~/.config/gtk-3.0/gtk.css
 * Restart phosh using "sudo systemctl restart phosh"
 */

phosh-app-grid {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
                    url('file:///home/superphenotype/Pictures/tifa.png');
  background-size: cover;
  background-position: center;
}

phosh-lockscreen, .phosh-lockshield {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
                    url('file:///home/superphenotype/Pictures/tifachillin.png');
  background-size: cover;
  background-position: center;
}
